<div class="mat-app-background" style="min-height: 100vh">
  <h4>pocketbase<br>
    TODO<br>
    <mat-icon>check_circle</mat-icon>
  </h4>
  <div class="content">
    <h1>Your tasks ({{ tasks ? tasks.length : '0' }}):</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Add a new task</mat-label>
      <input matInput placeholder="Walk the fish..." value="Sushi" [(ngModel)]="newTask">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="onAddTask()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <section *ngIf="tasks && tasks.length; else noTasks">
      <p class="check-box" *ngFor="let task of tasks">
        <mat-checkbox
          [ngStyle]="{'text-decoration': task.isCompleted ? 'line-through' : ''}"
          [checked]="task.isCompleted" (change)="toggleTask(task)"
        >
          {{task.description}}
        </mat-checkbox>
        <mat-icon (click)="onDeleteTask(task)">delete</mat-icon>
      </p>
    </section>

    <ng-template #noTasks>
      <h3>You don't have any task TO DO!</h3>
    </ng-template>
  </div>

  <p class="with-love">Made with
    <mat-icon style="color: red; transform: scale(0.8)">favorite</mat-icon>
    by <a href="https://github.com/matias-kupfer" target="_blank">Matias Kupfer</a>
  </p>
</div>
